body {
    background-color: #f8f9fa;
}

.cpr-step {
    font-size: 1.2rem;
    margin: 25px 0;
}

.cpr-image {
    max-width: 90%;
    height: auto;
}

h1{
    margin-top: 15%;
    font-family: "adso", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 124px;
}

h3{
    font-family: "economica", sans-serif;
        font-weight: 400;
        font-size: 48px;
        font-style: italic;
}

h4{
    font-family: "forma-djr-micro", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size:32px;
        margin-top: 5%;
}
.prevStep-btn{
    display: inline-block;
        padding: 10px 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        box-shadow: 0 9px #999;
}

.prevStep-btn:active{
    box-shadow: 0 5px #bb3333;
    transform: translateY(4px);
}

.nextStep-btn {
    display: inline-block;
    padding: 10px 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 9px #999;
}

.nextStep-btn:active {
    box-shadow: 0 5px #146e41;
    transform: translateY(4px);
}

.prevStep-btn{
    background-color: rgb(139, 33, 38);
    color:beige;
    border: 2px;
}

.nextStep-btn {
    background-color: rgb(11, 78, 33);
    color: rgb(234, 238, 212);
    border: 2px;
}

#ageSelection{
    margin-top: 15%;
}

#titleSpacer{
    height: 56px;
    display: none;
}